node_modules
logs
exports
uploads
*.log*
clean.sh
run.sh

backup.json
backup*.json
backup.bkp.json
backupMap.json
restore.json
restore*.json
restoreMap.json
del
builds
coverage
.nyc_output
test.js
.DS_Store
.dockerignore 
.gitignore
README.md
start.sh
LICENSE
.eslintrc.json
.eslintrc.js
.eslintrc.cjs
.eslintrc.yaml
.eslintrc.yml
.eslintrc.json
.eslintrc.cjs
.eslintrc.yaml
.eslintrc.yml
